@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-li{
    padding: 5px 10px;
    margin: 7px;
    font-size: 12px;
    font-weight: bold;
}
.menuBack{
    background-image: url('../public/back.jpg');
    min-height: 500px;
    background-size:cover
}

.navbar-li:hover{
    background-color: #A23841;
    color: white;
    border-radius: 20px;
    padding: 5px 20px;
}
.first{
    background-image: url('../public/bg.jpg');
    background-position: center;
background-size: cover;
min-height: 800px;
margin-top: 30px;
}
.menu{
    display:none
}
.responsive{
    display: block;
}
.navbar-ul{
    display:flex;
    justify-content: center;
    align-items: center;
  cursor: pointer;
    
}
.navbar-ul.responsive-show {
    display: block;
  }
  .navbar-btn.btn-show{
    display:block;
  }
  .navbar-div{
    display:flex;
    
    align-items:center;
   
   

  }

@media(max-width:950px){
    .navbar-div{
        display: block;
        justify-content: start;
    }
    .navbar-ul{
        display:none;
       
    }
    .umar{
        position: absolute;
        left: 30px;
    }
    .navbar-li{
        width:70px
    }
    .navbar-ul{
        display: block;
        position: relative;
        top: 50px;
        left: 20%;
    
    }
    .navbar-btn{
        display: block;
        position: relative;
        top: 55px;
        left: 20%;
        margin-bottom: 20px;
    }
    .first{
        margin-top:40px ;
    }
    .menu{
        display:block;
        position: absolute;
        top:66px;
        right:30px
    }
    .responsive{
        display:none
    }

    .navbar-ul.responsive-hide {
        display: none;
      }
      .navbar-btn.btn-hide{
        display:none;
      }
}


@media(max-width:560px){
    .nav{
        display: none;
        
    }
    .menu{
        top:30px
    }
}
